/* body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
} */
.container-login {
    width: 100%;
    height: 82.4vh;
    display: flex;
    border-radius: 24px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.212);
}

.form-image img {
    width: 31rem;
    height: 82vh;
    border-radius: 24px 0px 0px 24px;

}

.form {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 3rem;
    border-radius: 24px;
}

.form-header {
    margin-bottom: 0rem;
    display: flex;
    justify-content: center;
}
.form-header .title-login h1{
    color: #FF5212;
    font-weight: 700;
}

.login-button {
    display: flex;
    justify-content: center;
}

.login-button button {
    border: none;
    background-color: #6c63ff;
    padding: 0.4rem 1rem;
    border-radius: 5px;
    cursor: pointer;
}


.form-header h1::after {
    content: '';
    display: block;
    width: 7.5rem;
    height: 0.3rem;
    background-image: url(../../../public/LINHA.svg);
    background-size: auto;
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}

.input-group {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
}
.input-base, .input-base div{
    height: 50px;
} 

.input-box {
    display: flex;
    flex-direction: column;
}

.input-box input {
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
    font-size: 0.8rem;
}

.input-box input:hover {
    background-color: #eeeeee75;
}

.input-box input:focus-visible {
    outline: 1px solid #6c63ff;
}

.input-box label,
.gender-title h6 {
    font-size: 0.75rem;
    font-weight: 600;
    color: #000000c0;
}

.input-box input::placeholder {
    color: #000000be;
}
#forgot-pass{
    margin-top: 2%;
}

#forgot-pass a{
    margin-top: 20px;
    text-decoration: underline;
    color: #5752FF;    
}
.login-cadastro{
    display: flex;
    align-items: end;
    justify-content: center;
    margin-top: 27%;
}
.login-cadastro a{
    text-decoration: underline;
    color: #5752FF;    
}

@media screen and (max-width: 1330px) {
    .form-image {
        display: none;
    }
    .container {
        width: 50%;
    }
    .form {
        width: 100%;
    }
}

@media screen and (max-width: 1064px) {
    .container {
        width: 90%;
        height: auto;
    }
    .input-group {
        flex-direction: column;
        z-index: 5;
        padding-right: 5rem;
        max-height: 10rem;
        overflow-y: scroll;
        flex-wrap: nowrap;
    }
    .gender-inputs {
        margin-top: 2rem;
    }
    .gender-group {
        flex-direction: column;
    }
    .gender-title h6 {
        margin: 0;
    }
    .gender-input {
        margin-top: 0.5rem;
    }
}