


.container-login {
    width: 100% !important;
    height: 100vh;
    display: flex;
    align-items: center;    
}
/* !FORM */
.form-image-login {
    width: 55%;
    height: 100%;
    background-image: url(./Login.svg);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

.form-login {
    width: 85%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-radius: 24px;
}

.form-header-login {
    margin-bottom: 0rem;
    display: flex;
    justify-content: center;
}

.form-header-login .title-login h1 {
    color: #FF5212;
    font-weight: 700;
}
/* !BUTTON */
.login-button {
    display: flex;
    justify-content: center;
}

.login-button button {
    border: none;
    background-color: #6c63ff;
    padding: 0.4rem 1rem;
    border-radius: 5px;
    cursor: pointer;
}

/* !HEADER FORM */
.form-header-login h1::after {
    content: '';
    display: block;
    width: 7.5rem;
    height: 0.3rem;
    background-image: url(../../../public/LINHA.svg);
    background-size: auto;
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}
/* !INPUTS */
.input-group-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
    min-width: 200px;
    width: 400px;
}

.input-box-login {
    display: flex;
    flex-direction: column;
    width: 100% !important;
}

.input-box-login input {
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
    font-size: 0.8rem;
}

.input-box-login input:hover {
    background-color: #eeeeee75;
}

.input-box-login label{
    font-size: 0.75rem;
    font-weight: 600;
    color: #000000c0;
}

.input-box-login input::placeholder {
    color: #000000be;
}
/* !ESQUECEU A SENHA */
#forgot-pass {
    margin-top: 2%;
}

#forgot-pass a {
    margin-top: 20px;
    text-decoration: underline;
    color: #5752FF;
}
/* !AINDA NÃO TEM CADASTRO */
.login-cadastro {
    display: flex;
    align-items: end;
    justify-content: center;
    margin-top: 27%;
}

.login-cadastro a {
    text-decoration: underline;
    color: #5752FF;
}
/* !RESPOSIVIDADE */
@media screen and (max-width: 1330px) {
    
    .container {
        width: 50%;
    }
    
    .form {
        width: 100% !important;
    }
}
@media screen and (max-width:1315px) {
    .form-image-login {
        display: none;
    } 
    .container-login{
        justify-content: center;
    }
}

@media screen and (max-width: 1064px) {
    .container {
        width: 90%;
        height: auto;
    }

    .input-group-login {
        flex-direction: column;
        z-index: 5;
        max-height: 10rem;
        flex-wrap: nowrap;
        width: 100% !important;
    }
}

@media screen and (max-width: 558px) {
    .centro-login{
        justify-content: center;
        display: flex;
    }
    .container-login{
        justify-content: center;
        width: 50%;
    }
    .container {
        height: auto;
        overflow-y: scroll;
        overflow-x: scroll;
    }
    
    .input-group-login {
        flex-direction: column;
        z-index: 5;
        max-height: 10rem;
        flex-wrap: nowrap;
        width: 100% !important;
    }
    .form-login{
        width: 10%;
    }
}
@media screen and (max-width: 438px) {
    .centro-login{
        justify-content: center;
        display: flex;
        margin: 0px;
        padding: 0px;
        /* width: 411.5px;
        height: 100px; */
    }
    .container-login{
        justify-content: center;
        width: 10%;
    }
    .container {
        height: auto;
        overflow-y: scroll;
        overflow-x: scroll;
    }
    
    .input-group-login {
        flex-direction: column;
        z-index: 5;
        max-height: 10rem;
        flex-wrap: nowrap;
        width: 100% !important;
    }
    .form-login{
        width: 1%;
    }
}
