#tudo-pro-css{
    display: flex;
    width: 100%;
    height: 150px;
    margin-right: auto;
    margin-left: auto;
    max-width: 980px;
    position: absolute;
    border: none;
    margin: 0.80cm;

}

#faq-nome{

    color: #FF521B;
    font-weight: 700;
    width: 750px;


}

#faq-texto{
    font-weight: 700;
    margin: 0.80cm;
    margin-left: 7px;
    font-size: 25px;

}

.accordion-button:not(.collapse){
    font-weight: 700;
    background-color: #FF5212;
    
}

.accordion-button:not(.collapsed) {
    color: #e9e9e9;
    
}

.accordion-button {
    color: #ffffff;
    
}