.message {
    width: 40%;
    padding: 1%;
    border: 1px solid #000;
    margin: 0 auto;
    text-align: center;
    max-width: 70%;
    margin: 1em auto;
    border-radius: 5px;
    font-weight: 400;
    position: absolute;
    left: 32%;
    z-index: 99999;
  }
  
  .success {
    color: #155724;
    background-color: #abdbb6;
    border-color: #acd6b6;
    position: absolute;
  }
  
  .error {
    color: #a71b29;
    background-color: #f8d7da;
    border-color: #f5c6cb;
  }