.container-geral-perfil {
    display:  grid;
    margin-bottom: 300px;

}

.titulo-informacoes-perfil  span {
    display: block;
    width: 50%;
    min-width: 180px;
    height: 8px;
    background: #221F8A;
}

.input-perfil input {
    /* width: 200px;
    height: 40px; */
    border-radius: 20px;
    background-color: #E9ECEF;
    border: none;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.33);
    width: 800px;
    height: 8px;
    border: none;
    border-radius: 8px;
    display: flex;
    padding: 3% 3%;
    margin: 5px 0px 0px 0px;
    font-size: 18px;

}

/* input-container-perfil */

.input-perfil input::placeholder {
    color: black;
}

.input-perfil label {
    align-items: center;
    text-align: left;
    padding-left: 10px;
    padding-bottom: 5px;
    font-size: 16px;
    font-weight: bold;

}

.bloco-info-perfil {
    /* background-color: chocolate;  */
    display: grid;
    justify-content: center;
    margin-top: 90px;
    gap: 10px;
    margin-right: 0px;

}


.bloco-visual-perfil {
    /* background-color: black; */
    display: flex;
    justify-content: center;
    /* align-items: center; */

    
}


.visual-perfil {
    display: grid;
    /* margin-left: 120px; */
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
    
}

.visual-perfil h1 {
    font-weight: bold;
    color: #FF5212;
}

.edicao-container {
    display: flex;
    gap: 130px
}
.img-perfil img{
    background-image: url(./Recife.jpg);
    border-radius: 16px;
    width: 70%;
    height: 245px;
    
}

.bloco-info-perfil h1 {
    color: #FF5212;
    font-weight: bold;
}

.input-perfil  {
    margin-top: 10px ;
    width: 100%;
}

.input-edicao-perfil {
    margin-bottom: 90px;
    margin-left: 85px;
    
}

.sessao-informacoes-perfil {
    margin: 0px ;
    /* width: 100%; */
}


@media screen and (max-width: 1364px) {
    .bloco-visual-perfil  {
        display: grid;
        justify-content: center;
    }
    .visual-perfil img {
        margin-bottom: 20px;
        
    }
    .visual-perfil {
        margin: 0px;
        display: flex;
        gap: 130px;
        align-items: flex-end;
    
    }


    .visual-perfil button{
        margin: 0px;
        
        
    }
}

@media screen and (max-width:980px) {
    .bloco-visual-perfil  {
        display: grid;
        margin: 40px ;
        max-width: 100%;

    }
    .visual-perfil {
        margin: 0px;
        display: grid;
        gap: 0px;

    
    }

    .visual-perfil {
        padding-left: 120px;
    }

    .input-perfil input {
        /* width: 200px;
        height: 40px; */
        border-radius: 20px;
        background-color: #E9ECEF;
        border: none;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.33);
        width: 700px;
        height: 8px;
        border: none;
        border-radius: 8px;
        display: flex;
        padding: 3% 3%;
        margin: 5px 10px 0px 0px;
        font-size: 18px;
    
    }

    .titulo-informacoes-perfil  span {
        display: block;
        width: 50%;
        min-width: 10px;
        height: 8px;
        background: #221F8A;
    }
}