.input-perfil input {
    /* width: 200px;
    height: 40px; */
    border-radius: 20px;
    background-color: #E9ECEF;
    border: none;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.33);
    width: 700px;
    height: 43px;
    border: none;
    border-radius: 8px;
    display: flex;
    padding: 3% 3%;
    margin: 0;

}

.container-geral-perfil {
    padding-bottom: 100px;
}

.input-perfil input::placeholder {
    color: black;
}

.input-perfil label {
    align-items: center;
    text-align: left;
    padding-left: 10px;

}

.bloco-info-perfil {
    /* background-color: chocolate;  */
    
    display: grid;
    justify-content: center;
    gap: 10px;
    margin-right: 100px;
    margin-left: 100px;
}


.bloco-visual-perfil {
    /* background-color: black; */
    display: flex;

    
}

.bloco-visual-perfil .img-perfil {
    /* width: 100%; */
    margin-right: 200px;
    
}

.visual-perfil {
    display: grid;
    margin-left: 140px;
    
}

.visual-perfil {
    padding-top: 40px ;
}
.visual-perfil h1 {
    font-weight: bold;
    color: #FF5212;
}

.edicao-container {
    display: flex;
    gap: 130px
}
.img-perfil img{
    background-image: url(./Recife.jpg);
    border-radius: 16px;
    width: 70%;
    height: 245px;
    
}
.container-geral-perfil {
    display:  grid;

}

.bloco-info-perfil h1 {
    color: #221F8A;
    font-weight: bold;
}

.input-edicao-perfil {
    margin-top: 30px;
    padding-left: 150px;
}