
.nav {
    --bs-link-color: #FF5212;
    --bs-nav-link-hover-color: #221F8A;
    --bs-nav-tabs-link-active-color: #6C757D;
}
#uncontrolled-tab-example-tab-home,
#uncontrolled-tab-example-tab-profile,
#uncontrolled-tab-example-tab-contact {
    font-weight: 700;
}
.conteiner-tabs{
    padding-top: 1.16%;
    width: 100%;
    height: 100%;
    background-color: #E4E4EF;
    padding-bottom: 5%;
}
 .conteiner-tab{
    width: 80%;
    height: 99%;
    margin: auto auto;
    background-color: #fff;
    border-radius: 8px;
    align-items: center;
    justify-content: center; 
    padding-bottom: 0.5%; 
}

.tab-content{
    width: 95%;
}
.tab-pages{
    margin: 2%;
}
