.NewEvents-conteiner h1{
    font-weight: 500;
}

.events-photo{
    display: flex;
    align-items: center;
}
.events-input-texts{
    width: 50%;
}
.events-input-texts ul{
    margin-left: 2%;
    font-size: 15px;
    list-style-type: inherit;
}

.input-middle{
    display: flex;
    
}
.input-middle-header,.input-middle-footer{
    width: 49.2%;
}
.input-middle-header{
    margin: 0 0 0;
}
.input-middle-footer{
    margin: 0 0 0 1.5%;
}

.form-select {
    background-color: var(--color-input);
    width: 100%;
    height: 43px;
    border: none;
    border-radius: 8px;
    padding: 0px auto;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.33);
    margin-top: 4.6%;
}
#photo{
    display: none;
}
#photo-label{
    width: 60%;
    display: flex;
    height: 20vh;
    cursor: pointer;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 60px;

    
}
.input-photo{
    width: 50%;
    height: 20vh;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #D9D9D9;
    border-radius: 11px;
}

