.conteiner-cardr .card{
    /* border: 1px solid red; */ 
    width: 100%;
    margin-top: 1%;
}
.conteiner-cardr .card .card{
    margin-top: 0;
    width: 100%;
    /* margin-bottom: 1%; */
} 
.conteiner-cardr{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.conteiner-cardr{
    margin: 1.5% 0;
    padding-top: 1%;
    border-bottom: 1px solid #424242;
    padding-bottom: 3%;
    flex-wrap: wrap;
    
}

@media screen and (max-width: 714px){
    .conteiner-cardr{
        justify-content: center;
    }
    .conteiner-cardr .card{
        width: 100%;
    }
    .conteiner-cardr a{
        width: 50%;
    }
}
@media screen and (max-width: 535px){
    .conteiner-cardr{
        justify-content: center;
       
    }
    .conteiner-cardr .card{
        width: 100%;
        /* height: 7%; */
    }
    .conteiner-cardr a{
        width: 70%;
        height: 7%;
    }
}
