
  .conteiner-header{
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    padding: 100px;
  }
  .conteiner-header .texts-header{
    width: 480px;
  }
  .conteiner-header .texts-header h1{
    font-weight: 700;
    font-size: 47px;
    color: #FF5212;
  }
  .conteiner-header .texts-header span{
    color: #201C97;
  }
  @media screen and (max-width:1158px) {
    .conteiner-header .header-img{
      display: none;
    }
  }