.dropdown-menu {
    padding: 0px !important;
    --bs-dropdown-padding-y: 0rem !important;
    --bs-dropdown-bg: #e4e4e7 !important;
    --bs-dropdown-link-color: #fff;
    color: #fff;
}

#collapsible-nav-dropdown{
    margin: 0px !important;
    padding: 0px !important; 
}
