
 .box-sobre{
    margin: 100;
    padding: 100;
    box-sizing: border-box;
} 

.container-sobre{
    display: flex;
    width: 588px;
    height: 93px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    
}
.container-image-sobre{
    padding-bottom: 10%;
}

.texto-recconecta-sobre {
    padding-top: 20vh;
    padding-bottom: 40%;
}

.galeria-sobre{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 20%;
}

.img-box-sobre{
    width: 20%;
    height: 40vh;
    border-radius: 20px;
    background: url(img-Andre.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    transition: width 0.5s;
    align-items: center;
    flex-direction: column;
    align-self: stretch;
    justify-content: center;
}

.img-box-sobre:nth-child(2){
    background: url(img-Aline.jpg);
    background-size: cover;
    background-position: center;
    
}

.img-box-sobre:nth-child(3){
    background: url(img-Camilly.jpg);
    background-size: cover;
    background-position: center;
    
}

.img-box-sobre:nth-child(4){
    background: url(img-Gabriela.jpg);
    background-size: cover;
    background-position: center;
    
}

.img-box-sobre:nth-child(5){
    background: url(Recife.jpg);
    background-size: cover;
    background-position: center;
    
}

.img-box-sobre h3{
    color: #ffffff;
    position: absolute;
    bottom: 0;
    left: 30px;
    opacity: 0;
    transition: bottom 0.5s, opacity 0.5s;
}

.img-box-sobre:hover{
    width: 300px;
    cursor: pointer;
}

.img-box-sobre:hover h3{
    opacity: 1;
    bottom:25px
}

.sobre-texto1-sobre{
    display: flex;
    padding-top: 10%;

}

.sobre-texto1-sobre h2{
    color: #FF5212;
    font-weight: 700;
}
.sobre-texto2-sobre h2{
    color: #FF5212;
    font-weight: 700;
    display: flex;
    width: 588px;
    height: 93px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
}
.texto3-saude-sobre h2{
    color: #020122;
    font-weight: 700;
}
.titulo-equipe-sobre h2{
    color: #FF5212;
    font-weight: 700;
    align-items: center;
    display:flex;
    justify-content: center;
    padding-bottom: 10%;
    padding-top: 15%;
}

.cabecalho-header-sobre img{
    width: 50%;
    height: 90vh;
    display: flex;
    margin-right: 10%;
        
}

.img-como-sobre img{
    width: 400px;
    height: 70vh;

}
.video-recconecta-sobre{
    width: 660px;
    height: 30rem;
    display: flex;
    margin-left: 400px;
    margin-top: 10%;
}

.img-video-sobre img{
    width: 660px;
    height: 30rem;
    display: flex;
    margin-left: 350px;
    margin-top: 10%;
}

.p-do-video-sobre{
    justify-content: center;
    display: flex;
    padding: 1% 70vh;
    text-decoration: underline;
    font-weight: 600;
    margin-bottom: 3%;
    text-align: center;
    
}

.titulo-sobre-sobre h2{
    color: #FF5212;
    font-weight: 700;
    display: flex;
    width: 588px;
    height: 93px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    padding-bottom: 10%;
    padding: 10px;
    flex-direction: column;
    gap: 20px;
    flex: 1 0 0;
    align-self: stretch;
}

.cabecalho-header-sobre{
    padding: 1% 5%;
    
}

.conteudo-sobre{
    padding: 10% 5%;

}

.quadrado-img-sobre{
    height: 15vh;
    width: 15%;
    text-align: center;
    display: flex;

}

.vector-pessoa-sobre{
    width: 154px;
    height: 154px;
    flex-shrink: 0;
}
.p-pessoa-sobre{
    text-align: right;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 116.667% */
    padding: 2%;
}

.compass-relogio-sobre{
    width: 154px;
    height: 154px;
    flex-shrink: 0;
}
.p-bussula-sobre{
text-align: right;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 116.667% */
text-align: left;
}

.diagram-2-grupo-sobre{
    width: 154px;
    height: 154px;
    flex-shrink: 0;

}
.p-diagram-sobre{
    text-align: right;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 116.667% */
    padding: 2%;
}

.linha-azul-equipe-sobre{
    height: 6vh;
    width: 20%;
    padding-top: 20vh;
    padding-bottom: 5vh;
}

.img-blocos-sobre{
    display: grid;
}

.vector-sobre{
    display: flex;
    align-items: center;
    justify-content: center;
    

}

.vector-sobre img{
    width: 15%;
    float: left;
    margin-right: 20px;
    align-items: center;
    margin-bottom: 20px;
    justify-content: space-between;
}

#container-como-funciona-sobre{
    display: inline-block;
    display: flex;
    justify-content: center;
}


