#main-footer{
    background-color: #0c961e;
}

.footer {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    left: 0;
    width: 100%;
}
.coment {
    margin-right: 10px;
    font-size: 15px;
    color: white;
    text-decoration: underline;
}

.comentario-rodape{
    background-color: #0c961e;
    color: white;
    text-align: center;
    padding: 10px;
    width: 100%;
        
}