body {
	line-height: 1.5;
	font-family: 'Roboto', sans-serif;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	max-width: 1170px;
	margin: auto;
	align-items: center;
}

.row {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	text-align: center;

}


ul {
	list-style: none;
	padding: 0;
}

.footer {
	background-color: #07053F;
	padding: 70px 0;
}

.footer-col {
	width: 348px !important;
	height: 200px !important;
	padding-left: 0px;
	padding-right: 0px;

}

.footer-col ul {
	padding: 0;
}

.footer-col h4 {
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}

.footer-col h4::before {
	content: '';
	position: absolute;
	left: 50;
	bottom: -10px;
	background-color: #FF5212;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}

.footer-col ul li:not(:last-child) {
	margin-bottom: 10px;
}

.footer-col ul li a {
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}

.footer-col ul li a:hover {
	color: #ffffff;
	padding-left: 8px;
}

.footer-col .social-links a {
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: #fff;
	margin: 0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
	color: #24262b;
	background-color: #ffffff;
}

.copyright {
	color: #fff;
	padding-top: 70px;
}

.copyright_group {
	display: grid;
	align-items: center;
	justify-content: center;
	margin-top: 90px;
}

.copyright-text {
	color: #fff;
	display: flex;
	align-items: center;

}

.codeside-img {
	margin-bottom: 20px;
}



@media(max-width: 1280px) {
	.row {
		justify-content: center;
	}
}

@media(max-width: 767px) {
	.footer-col {
		width: 50%;
		margin-bottom: 30px;
	}
}

@media(max-width: 574px) {
	.footer-col {
		width: 100%;
	}
}